<form (ngSubmit)="onEdit()" [formGroup]="form">
  <nb-card>
    <nb-card-header>Редактирование контента</nb-card-header>
    <nb-card-body>
      <ngx-content-form [form]="form"></ngx-content-form>
    </nb-card-body>
    <nb-card-footer>
      <a [routerLink]="['/pages/sources/view', sourceId]">
        <button nbButton status="basic">Назад</button>
      </a>
      <button class="save" nbButton status="primary" type="submit">
        Сохранить
      </button>
    </nb-card-footer>
  </nb-card>
</form>
