<form (ngSubmit)="onEdit()" [formGroup]="form">
  <nb-card>
    <nb-card-header>Редактирование пользователя</nb-card-header>
    <nb-card-body>
      <ap-users-form
        [form]="form"
        [availablePermissions]="availablePermissions"
      ></ap-users-form>
    </nb-card-body>
    <nb-card-footer>
      <a [routerLink]="['/pages/users']">
        <button nbButton status="basic">Назад</button>
      </a>
      <button class="save" nbButton status="primary" type="submit">
        Сохранить
      </button>
    </nb-card-footer>
  </nb-card>
</form>
